body{
    background-color: rgb(33, 33, 33);
    font-family: "Science Gothic";
}
.main-text{
    color: white;
    text-align: center;
}
.products{
    color: white;
}
.link-to-swwfs{
    color: blue;
}
.about-me{
    color: white;    
}
.about-me1{
    color: white;
    font-size: small;
}
.link-to-github-account{
    color: blue;
}
.link-to-discord-server{
    color: blue;
}


